@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; ;
}

.caixa {
    position: absolute;
    background-image:url(imagens/WhatsApp\ Image\ 2022-01-25\ at\ 02.09.59.jpeg);
    width:100%;
    height:100%;
    min-height: 300;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
}

.caixa .conteudo {
    text-align: center;
    max-width: 900px;
    color:black;
    margin:auto;
}

.caixa .conteudo h1 {
    color:white;
    font-size:5em;
    text-align: center;
    background-color: black;
    margin-bottom: 20px;
}

.caixa .conteudo p {
    color: black;
    text-align:center;
    font-size: 1.5em;
    background-color: white;
    padding: 10px;
}

.caixa .conteudo .link {
    font-size: 1em;
    background-color: darkblue;
    color:#fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    transition:0.5s;
}

.caixa .conteudo .link:hover {
    letter-spacing: 6px;
}

.imagem {
    padding: 80px;
}

.imagem .conteudo1 {
    position:relative;
    padding: 80px;
    display: block;
    margin-top:650px;
    padding-right: 120px;
}

.imagem .conteudo1 h2 {
    font-weight: bold;
}

.imagem .conteudo1 img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300;
    width: 50%;
    margin-top:121px;
    object-fit: cover;
}
